@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap');
.ho1:hover{
    color: blue;
}

.colo{
    font-family: 'Source Code Pro', monospace;
}

@media (max-width: 740px) {
    .block{
        height: 70px;
        width: 110px;
        padding: 0;
    }
    .all{
        padding-left: 15px;
    }
    
  }